body {
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 48%;
}

.error {
  color: red;
  font-size: 12px;
}

.checkbox {
  margin-top: 10px;
}
